@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.spacebetween {
  justify-content: space-between;
}

.center {
  display: grid;
  place-items: center;
}

body {
  font-family: 'Nunito', sans-serif, Arial, sans-serif;
  background-color: #14161D;
}

.hidden {
  display: none;
}

ul {
  gap: 20px;
}

.button {
  padding: 10px 16px;
  border-radius: 5px;
  background-color: #0079f4;
  color: #fff;
  transition: all 0.25s ease-in-out;
}

.button:hover {
  background-color: #fff;
  color: #0079f4;
}

section {
  margin-top: 20px;
}

/*
  Header
*/

header {
  height: 60px;
  background-color: #0079f4;
}

h1 {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  line-height: 60px;
}

nav ul li {
  line-height: 60px;
  cursor: default;
  list-style: none;
}

a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

nav ul li a:hover, .links i:hover {
  color: #00ddff;
}

/*
  Content
*/

h2, p {
  color: #fff;
}

.map-box {
  width: 80svw;
  max-width: 850px;
  height: 80svh;
  background-color: #00ddff;
  border-radius: 5px;
  margin-bottom: 40px;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
}

/*
  Footer
*/

footer {
  height: 100px;
  background-color: #16192d;
}

.end {
  line-height: 100px;
}

.links ul li {
  list-style: none;
}

.links i {
  color: #fff;
  font-size: 20px;
  transition: all 0.25s ease-in-out;
}

.copyright {
  font-size: 17px;
  color: #fff;
}